html,
body {
    margin: 0;
    padding: 0;
}
#main_block {
    display: block;
    width: 100vw;
    min-height: 100%;
}
#left_frame {
    width: 20vw;
}	
#right_frame {
    width: -moz-calc(100% - 20vw); width: -webkit-calc(100% - 20vw); width: calc(100% - 20vw);
}
#left_frame,
#right_frame {
    float: left;
    height:100vh;
}
iframe {
    box-sizing: border-box;
}
